.articles {
  display: grid;
  grid-template-columns: 48.72% 48.72%;
  grid-template-rows: auto auto;
  gap: 30px;

  @media #{$screen-tablet} {
    display: block;
  }
}

.articles__item {
  @media #{$screen-tablet} {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media #{$screen-mobile} {
    margin-bottom: 40px;
  }

  &--main {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}
