.blog {
  padding: 47px 0 55px;

  @media #{$screen-tablet} {
    padding: 29px 0 55px;
  }

  @media #{$screen-mobile} {
    padding: 18px 0 45px;
  }

  h2 {
    margin-bottom: 21px;
  }

  p {
    margin-bottom: 63px;

    @media #{$screen-tablet} {
      margin-bottom: 62px;
    }

    @media #{$screen-mobile} {
      margin-bottom: 52px;
    }
  }
}

.blog__wrapper {
  text-align: center;
}

.blog__articles {

}
