.close-cross {
  position: absolute;
  right: 20px;
  top: 20px;

  width: 14px;
  height: 14px;

  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media #{$screen-mobile} {
    right: 15px;
    top: 15px;
  }
}
