.footer {
  padding: 90px 0 99px;

  background-color: $footer-bg-color;

  @media #{$screen-tablet} {
    padding: 52px 0 55px;
  }

  @media #{$screen-mobile} {
    padding: 50px 0 62px;
  }

  .page--product & {
    padding: 90px 0 75px;

    @media #{$screen-tablet} {
      padding: 52px 0 55px;
    }
  }
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media #{$screen-mobile} {
    display: block;
  }
}
