.header {
  padding-top: 30px;

  @media #{$screen-only-desktop} {
    &::after {
      content: "";
      position: absolute;
      top: 114px;
      left: 0;

      display: block;
      width: 100%;
      height: 1px;
      background-color: $pseudo-border-color;
    }
  }

  @media #{$screen-tablet} {
    position: relative;

    padding: 30px 0;
  }

  @media #{$screen-mobile} {
    padding: 20px 0;
  }

  &--opened,
  &--nojs {
    @media #{$screen-tablet} {
      padding-bottom: 0;

      background-color: $header-tablet-color;
    }
  }

  &--opened {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    width: 100%;
    height: 100vh;
  }
}

.header__wrapper {
  display: flex;

  flex-wrap: wrap;
  align-items: flex-start;

  @media #{$screen-tablet} {
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav-btn {
  display: none;

  @media #{$screen-tablet} {
    display: inline-block;

    .header--nojs & {
      display: none;
    }

    .header--opened & {
      color: $white;
    }
  }
}

.header__search {
  display: flex;
  align-items: center;

  margin-right: 31.5%;
  padding-top: 12px;

  @media #{$screen-tablet} {
    display: none;
  }
}

.header__user-menu {
  margin-left: auto;
  padding-top: 12px;

  @media #{$screen-tablet} {
    margin-left: 0;
    padding-top: 0;
  }
}
