.insta {
  padding: 50px 0 130px;

  @media #{$screen-tablet} {
    padding: 38px 0 80px;
  }

  @media #{$screen-mobile} {
    padding: 23px 0 70px;
  }

  text-align: center;

  h2 {
    margin-bottom: 33px;

    @media #{$screen-tablet} {
      margin-bottom: 21px;
    }

    @media #{$screen-mobile} {
      margin-bottom: 21px;
    }
  }
}

.insta__action {
  margin-bottom: 60px;

  @media #{$screen-mobile} {
    margin-bottom: 48px;
  }
}

.insta__photos {
  display: flex;
  justify-content: center;

  @media #{$screen-mobile} {
    flex-wrap: wrap;

    max-width: 290px;
    margin: 0 auto;
  }
}

.insta__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--1 {
    margin-right: 27px;

    @media #{$screen-tablet} {
      margin-right: 18px;
    }

    @media #{$screen-mobile} {
      min-height: 232px;
      margin-right: 14px;
      margin-bottom: 9px;
    }
  }


  &--2 {
    margin-right: 30px;

    @media #{$screen-tablet} {
      margin-right: 18px;
    }

    @media #{$screen-mobile} {
      margin-right: 0;
    }
  }

  &--3 {
    margin-right: 10px;

    @media #{$screen-mobile} {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;

      width: 100%;
      margin-right: 0;
    }
  }

  &--4 {
    align-items: flex-end;

    @media #{$screen-mobile} {
      display: none;
    }
  }
}

.insta__pic {
  display: block;
  width: 100%;
  height: auto;

  @media #{$screen-tablet} {
    &--first {
      width: 133px;
      height: 133px;
    }

    &--second {
      width: 133px;
      height: 89px;
    }

    &--third {
      width: 231px;
      height: 240px;
    }

    &--fourth {
      width: 134px;
      height: 111px;
    }

    &--fivth {
      width: 126px;
      height: 111px;
    }

    &--sixth {
      width: 126px;
      height: 126px;
    }

    &--seventh {
      width: 134px;
      height: 96px;
    }
  }

  @media #{$screen-mobile} {
    &--first {
      width: 130px;
      height: 130px;
    }

    &--second {
      width: 130px;
      height: 87px;
    }

    &--third {
      width: 145px;
      height: 226px;
    }

    &--fourth {
      width: 145px;
      height: 121px;
    }

    &--fivth {
      width: 130px;
      height: 115px;
    }
  }
}
