.links {

}

.links__item {

}

.links__title {
  color: $footer-links-color;

  &:hover,
  &:focus {
    color: rgba($footer-links-color, 0.6);
  }

  &:active {
    color: rgba($footer-links-color, 0.3);
  }
}
