.nav {
  width: 100%;
  margin-top: 20px;
  padding: 18px 0;

  text-align: center;

  @media #{$screen-tablet} {
    .header--closed & {
      display: none;
    }
  }

  .header--opened &,
  .header--nojs & {
    @media #{$screen-tablet} {
      display: block;

      margin: 0;
      padding: 40px 0 80px;

      text-align: left;

      border: 0;
    }

    @media #{$screen-mobile} {
      padding: 30px 0 50px;
    }
  }
}

.nav__search {
  position: relative;

  display: none;

  svg {
    position: absolute;

    left: 10px;
    top: 50%;

    color: $white;

    transform: translateY(-50%);
  }

  input {
    width: 100%;
    height: 40px;
    padding: 0;

    border: 0;
    border-radius: 21px;

    background-color: rgba($white, 0.15);
  }

  @media #{$screen-tablet} {
    display: block;

    margin-bottom: 55px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 45px;
  }
}

.nav__list {
  @include font-mixin(16px, 24px);

  display: inline-flex;

  @media #{$screen-tablet} {
    @include font-mixin(24px, 36px);

    display: block;

    margin-bottom: 40px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 45px;
  }
}

.nav__articles {
  display: none;

  @media #{$screen-tablet} {
    @include font-mixin(18px, 23px);

    display: block;
    margin-bottom: 45px;

    color: rgba($nav-tablet-text-color, 0.75);
  }
}

.nav__articles-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  @media #{$screen-tablet} {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.nav__link {
  color: $default-font-color;

  @media #{$screen-tablet} {
    color: $nav-tablet-text-color;
  }
}

.nav__articles-link {
  @media #{$screen-tablet} {
    color: rgba($nav-tablet-text-color, 0.75);
  }
}

.nav__login {

}
