.post {
  display: flex;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 285px;

  &--care {
    background-image: url("../img/index/blog-care-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/blog-care-desktop@2x.png");
    }

    @media #{$screen-tablet} {
      background-image: url("../img/index/blog-care-tablet@1x.png");
      background-size: 50%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/blog-care-tablet@2x.png");
      }
    }

    @media #{$screen-mobile} {
      background-image: url("../img/index/blog-care-mobile@1x.png");
      background-size: contain;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/blog-care-mobile@2x.png");
      }
    }
  }

  &--trends {
    background-image: url("../img/index/blog-trends-desktop@1x.png");
    background-size: 570px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/blog-trends-desktop@2x.png");
    }

    @media #{$screen-tablet} {
      background-image: url("../img/index/blog-trends-tablet@1x.png");
      background-size: 50%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/blog-trends-tablet@2x.png");
      }
    }

    @media #{$screen-mobile} {
      background-image: url("../img/index/blog-trends-mobile@1x.png");
      background-size: contain;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/blog-trends-mobile@2x.png");
      }
    }
  }

  &--power {
    background-image: url("../img/index/power-desktop@1x.png");
    background-size: 285px;
    background-position: right 0 top 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/power-desktop@2x.png");
    }

    @media #{$screen-tablet} {
      background-image: url("../img/index/power-tablet@1x.png");
      background-size: 50%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/power-tablet@2x.png");
      }
    }

    @media #{$screen-mobile} {
      background-image: url("../img/index/power-mobile@1x.png");
      background-size: contain;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/power-mobile@2x.png");
      }
    }
  }

  @media #{$screen-mobile} {
    height: 512px;
    flex-direction: column;
  }
}

.post__info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;

  width: 285px;
  height: 300px;
  margin-left: auto;
  padding: 66px 61px;

  background-color: $post-bg-color;

  @media #{$screen-tablet} {
    align-self: stretch;
    width: 50%;
    padding: 67px 88px;

    .post--trends & {
      padding: 84px 88px;
    }
  }

  @media #{$screen-mobile} {
    width: auto;
    height: 256px;
    margin-left: 0;
    margin-top: auto;
    padding: 45px 63px;

    .post--trends & {
      padding: 62px 75px;
    }
  }

  time {
    @include font-mixin(14px, 18px);

    color: $post-date-color;

    margin-bottom: 14px;
  }

  h3 {
    @include font-mixin(26px, 34px);

    margin: 0;
    margin-bottom: 38px;

    font-family: $secondary-font;
    font-weight: 600;
    color: $post-title-color;
  }

  .post--power & {
    margin-left: 0;
    margin-right: auto;

    @media #{$screen-mobile} {
      margin-right: 0;
    }
  }
}
