.product {
  text-align: center;

  h3 {
    margin: 0;
    margin-bottom: 5px;

    font-weight: 500;
    font-size: 16px;
  }

  p {
    @include font-mixin(14px, 18px);

    margin: 0;

    font-weight: 700;
  }
}

.product__link {
  display: block;
  margin-bottom: 19px;

  color: $default-font-color;

  @media #{$screen-tablet} {
    margin-bottom: 22px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 17px;
  }

  img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
