.search {
  input {
    @include font-mixin(14px, 21px);

    width: 140px;
    padding: 0;

    border: 0;

    &::placeholder {
      @include font-mixin(14px, 21px);
    }
  }
}

.search__icon {
  margin-right: 15px;
}
