.subscribe {
  width: 42.7%;
  margin-right: 8%;

  @media #{$screen-tablet} {
    width: 82.6%;
    margin-right: 0;
    margin-bottom: 44px;
  }

  @media #{$screen-mobile} {
    width: auto;
    margin-bottom: 46px;
  }

  h3 {
    color: $footer-subscribe-title;
    margin-bottom: 10px;

    @media #{$screen-mobile} {
      max-width: 73.45%;
    }
  }

  p {
    margin: 0;
    margin-bottom: 35px;

    color: $footer-subscribe-subtitle;
    font-weight: 400;

    @media #{$screen-mobile} {
      @include font-mixin(16px, 22px);

      max-width: 77.45%;
    }
  }
}

.subscribe__form {
  position: relative;

  input {
    @include font-mixin(14px, 21px);

    width: 100%;
    padding: 8px 105px 8px 0;

    color: $footer-subscribe-input;

    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $white;
    border-radius: 0;

    &::placeholder {
      color: $footer-subscribe-input;
    }
  }
}

.subscribe__btn {
  position: absolute;
  right: 0;
  top: 50%;

  display: flex;
  align-items: center;

  color: $footer-subscribe-btn;

  transform: translateY(-50%);

  svg {
    margin-left: 12px;
  }
}
